*{
    margin: 0%;
    padding: 0%;
}

.search{
    --padding:24px;
    width: max-content;
    display: flex;
    align-items: center;
    padding: var(--padding);
    border-radius: 28px;
    background-color: #f6f6f6;
    transition: box-shadow 0.25s;
}

.search:focus-within{
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.75);
}

.search-input{
    font-size: 16px;
    font-family: 'lexend', sans-serif;
    color: #333;
    margin-left: var(--padding);
    outline: none;
    border: none;
    background: transparent;
    width: 300px;
}

.search-input::placeholder,
.search-icon{
    color: rgba(0, 0, 0, 0.25);
}