body{
    text-align: center;
    background-color: #03011d;
    color:blueviolet;
}

#head4{
    color: rgb(194, 27, 27);
}
#p22{
    color:  rgb(179, 122, 18);
}
#pp2{
    color: rgb(189, 23, 23);
    background-color: rgb(46, 0, 107);
}









